<template>
  <div>
    <h2>{{ $t('userCreationTitle') }}</h2>

    <form>
      <div class="error-list">
        <div v-for="error in errors" :key="error" class="error-msg">{{ error }}</div>
      </div>
      <div class="status" v-if="status.length > 0">
        <div v-for="item in status" :key="item">{{ item }}</div>
      </div>
      <div class="form-group">
        <label>{{ $t('userDetailFormUsername') }}</label>
        <input
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          :placeholder="$t('userDetailFormUsername')"
          v-model="user.username"
        />
      </div>

      <div class="form-group">
        <label>{{ $t('userDetailFormEmail') }}</label>
        <input
          type="email"
          class="form-control"
          :placeholder="$t('userDetailFormEmail')"
          v-model="user.email"
        />
      </div>

      <div class="form-group">
        <label>{{ $t('userDetailFormBirthday') }}</label>
        <input
          type="text"
          class="form-control"
          :placeholder="$t('userDetailFormBirthday')"
          v-model="user.dateOfBirth"
        />
      </div>

      <div class="form-group">
        <label>{{ $t('userDetailFormAddress') }}</label>
        <input
          type="text"
          class="form-control"
          :placeholder="$t('userDetailFormAddress')"
          v-model="user.address"
        />
      </div>

      <div class="form-group">
        <label>{{ $t('userDetailFormPhone') }}</label>
        <input
          type="number"
          class="form-control"
          :placeholder="$t('userDetailFormPhone')"
          v-model="user.phone"
        />
      </div>

      <div class="btn">
        <button type="submit" @click.prevent="create()">{{ $t('userDetailCreation') }}</button>
        <button type="submit" @click.prevent="backToList()">{{ $t('userDetailBack') }}</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import { Vue, Component } from "vue-property-decorator";

@Component
class UserCreation extends Vue {
  user = {
    username: "",
    email: "",
    dateOfBirth: "",
    address: "",
    phone: "",
  };
  errors = [];
  status = [];

  create() {
    if (
      this.formValidation(
        this.user.username,
        this.user.email,
        this.user.dateOfBirth,
        this.user.address,
        this.user.phone
      )
    ) {
      axios
        .post(`http://localhost:8000/users`, this.user)
        .then((response) => {
          console.log(response);
          this.status = [];
          this.status.push(this.$t("msgCreateSuccess"));
        })
        .catch((error) => {
          console.log(error);
          this.status = [];
          this.status.push(this.$t("msgFailed"));
        });
    } else {
      return;
    }
  }

  backToList() {
    this.$router.push("/user");
  }

  formValidation(username, email, dateOfBirth, address, phone) {
    this.errors = [];

    if (username && email && dateOfBirth && address && phone) {
      return true;
    }

    if (!username) {
      this.errors.push(this.$t("userFormUsernameRq"));
    }

    if (!email) {
      this.errors.push(this.$t("userFormEmailRq"));
    }

    if (!dateOfBirth) {
      this.errors.push(this.$t("userFormBirthdayRq"));
    }

    if (!address) {
      this.errors.push(this.$t("userFormAddressRq"));
    }

    if (!phone) {
      this.errors.push(this.$t("userFormPhoneRq"));
    }
  }
}

export default UserCreation;
</script>

<style lang="scss">
form {
  .error-list {
    margin: 0 0 0.7rem;

    .error-msg {
      color: red;
    }
  }
}

.status {
  margin: 0 0 0.7rem;
  padding: 0.5rem 0 0.5rem 1rem;
  background: #ccc;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  border: 1px solid green;
}
</style>