<template>
  <div>
    <h2>{{ $t('userDetailTitle') }}</h2>

    <form>
      <div class="error-list">
        <div v-for="error in errors" :key="error" class="error-msg">{{ error }}</div>
      </div>
      <div class="status" v-if="status.length > 0">
        <div v-for="item in status" :key="item">{{ item }}</div>
      </div>
      <div class="form-group">
        <label>{{ $t('userDetailFormUsername') }}</label>
        <input
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          :placeholder="$t('userDetailFormUsername')"
          v-model="user.username"
        />
      </div>

      <div class="form-group">
        <label>{{ $t('userDetailFormEmail') }}</label>
        <input
          type="email"
          class="form-control"
          :placeholder="$t('userDetailFormEmail')"
          v-model="user.email"
        />
      </div>

      <div class="form-group">
        <label>{{ $t('userDetailFormBirthday') }}</label>
        <input
          type="text"
          class="form-control"
          :placeholder="$t('userDetailFormBirthday')"
          v-model="user.dateOfBirth"
        />
      </div>

      <div class="form-group">
        <label>{{ $t('userDetailFormAddress') }}</label>
        <input
          type="text"
          class="form-control"
          :placeholder="$t('userDetailFormAddress')"
          v-model="user.address"
        />
      </div>

      <div class="form-group">
        <label>{{ $t('userDetailFormPhone') }}</label>
        <input
          type="text"
          class="form-control"
          :placeholder="$t('userDetailFormPhone')"
          v-model="user.phone"
        />
      </div>

      <div class="btn">
        <button type="submit" @click.prevent="userUpdated()">{{ $t('userDetailUpdate') }}</button>
        <button type="submit" @click.prevent="userDeleted()">{{ $t('userDetailDelete') }}</button>
        <button type="submit" @click.prevent="backToList()">{{ $t('userDetailBack') }}</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import { Vue, Component } from 'vue-property-decorator';

@Component
class UserDetail extends Vue {
  user = {
    userId: "",
    username: "",
    email: "",
    dateOfBirth: "",
    address: "",
    phone: "",
  };
  errors = [];
  status = [];

  userUpdated() {    
    /**
     * PUT
     * Update a user
     */

    axios
      .put(`http://localhost:8000/users/${this.$route.params.id}`, this.user)
      .then((response) => {
        console.log(response);
        this.status = [];
        this.status.push(this.$t("msgUpdateSuccess"));
      })
      .catch((error) => {
        console.log(error);
        this.status = [];
        this.status.push(this.$t("msgFailed"));
      });
  }

  userDeleted() {
    /**
     * DELETE
     * Delete a user
     */
    if (confirm(this.$t('msgDeleteConfirm'))) {
      axios
      .delete(`http://localhost:8000/users/${this.$route.params.id}`)
      .then((response) => {
        console.log(response);
        this.status = [];
        this.status.push(this.$t("msgDeleteSuccess"));
      })
      .catch((error) => {
        console.log(error);
        this.status = [];
        this.status.push(this.$t("msgFailed"));
      });
    } else {
      return;
    }
  }

  backToList() {
    this.$router.push("/user");
  }

  created() {
    /**
     * GET
     * Get user data
     */
    axios
      .get(`http://localhost:8000/users/${this.$route.params.id}`)
      .then((response) => {
        return (this.user = response.data.result);
      });
  }
}

export default UserDetail;
</script>

<style lang="scss">
form {
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #87ceeb;

  .error-list {
    margin: 0 0 0.7rem;

    .error-msg {
      color: red;
    }
  }

  .form-group {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;

    label {
      width: 30%;
    }

    input {
      height: 32px;
      width: 100%;
      font-size: 1rem;
    }
  }

  .btn {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;

    button {
      padding: 10px;
      font-size: 1rem;
      margin-left: 0.7rem;

      &:hover {
        cursor: pointer;
        background: black;
        color: white;
      }
    }
  }

  .status {
    margin: 0 0 0.7rem;
    padding: 0.5rem 0 0.5rem 1rem;
    background: #ccc;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid green;
  }
}
</style>