<template>
  <div class="page">
    <div class="page-head">
      <h1>{{ $t('appTitle') }}</h1>
    </div>    
    <router-view />
  </div>
</template>

<style lang="scss">
.page {
  min-width: 65%;
  border-radius: 10px;
  background: #fff;  
  margin: 1.3rem 0;
  padding: 1rem;

  &-head {    
    border: 1px solid #87ceeb;
    border-radius: 10px;
    text-align: center;
  }
}
</style>