<template>
  <div id="app">        
    <div class="banner">
      <router-view />            
    </div>

    <div class="lang">
      <button v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
        <flag :iso="entry.flag" v-bind:squared=false />
        {{entry.title}}
      </button>
    </div>
  </div>
</template>

<script>
import i18n from "./lang/i18n";
import { Vue, Component } from 'vue-property-decorator'

@Component
class App extends Vue {
  languages = [
    { flag: "us", language: "en", title: "English" },
    { flag: "vn", language: "vn", title: "Tiếng Việt" },
    { flag: "jp", language: "jp", title: "日本語" },
    { flag: "kr", language: "kr", title: "한국어" },
    { flag: "cn", language: "cn", title: "中文" },
  ];

  changeLocale(locale) {
    i18n.locale = locale;
  }
}

export default App;

</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #87ceeb;
  display: flex;
  justify-content: center;
}

.lang {
  position: absolute;
  top: 6rem;
  left: 4%;
  display: flex;
  flex-direction: column;

  button {
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    margin-bottom: .5rem;

    &:hover {
      cursor: pointer;
      background: chartreuse;
      border: 1px solid transparent;
    }
  }
}
</style>
